<h1>Chào mừng tới Rails Girls</h1>
<h3><a href="http://railsgirls.com/materials.html">Rails là gì?</a></h3>
<p>Rails là một web framework được thiết kế để làm việc bằng ngôn ngữ lập trình Ruby. Nghe vẫn thấy khó hiểu phải không bạn? Vậy hãy để tôi giải thích tiếp nhé!</p>